/* work sans font  */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 20px 25px;
    border:none;
    font-size: 1.25rem;


}
.text-light-gray{
    color:  #727272;
}
.section-title{
    font-size:2.8rem ;
    font-weight: 700;
    color: #131313;
}

/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right:30px ;
    font-weight: 500;
    font-size: 1rem;

} 

nav li a{
    text-decoration: none;
    color: #424242;     
}

/* Banner styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem ;
    font-weight: 700;
    color: #131313;
 
}

.banner img{
    margin-top: 20px;
    width: 100%;
}


/* main prat start */

main{
    max-width:1440px ;
    margin: 70px auto;

}
/* teams styles */
.teams-container{
    display: flex;
    align-items: center;

}
.teams-img-container{
   display: grid;
   grid-template-columns: repeat(2,1fr); 
   gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color:  #727272;
    font-weight: 500;
}
.teams-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}

/* feature section styles */

.features{
    margin-top: 130px;
   display: flex;
   gap: 100px; 
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-img img{
    height: 80%;
    margin-left: 90px;
}
.ten-years-bedge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-bedge h2{
   font-size: 4rem; 
   margin: 0;
}
.ten-years-bedge p{
    font-size: 1.5rem;

}

/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
    
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px  ;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px ;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
   
    font-size: 1.25rem;
    font-weight: 600;
   margin-top: 5px;
}

/* sponsors section */

.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}
.sponsors-img-container img{
    width: 165px;
}
footer{
    border-radius: 8px;
    background: #FFF4E7;
    width: 1440px;
   padding: 35px 350px;
    margin: 130px auto;
  
}
footer p{
    color:  #424242;
    text-align: center;
    font-size: 20px;
    
}




/* Responsive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav ,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;

    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-bedge{
        max-width:300px ;
    }

    .teams-img-container{
        grid-template-columns: 1fr ;
    }
    .teams-content,
    .facts-card-container
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    footer{
      width: 335px;
      padding: 35px;
    
    }

}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
   header{
    padding: 50px;
   }
   nav,
   .sponsors-img-container,
   .features
    {
    flex-direction: column;
   }
   .teams-container{
    flex-direction: column;
   }
   footer{
    width: 465px;
    padding: 35px 200px;
  
  }

}
