/* work sans font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles */

* {
  font-family: "Inter", sans-serif;
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 20px 25px;
  border: none;
  font-size: 1.25rem;
}
.text-light-gray {
  color: #727272;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

.description {
  margin: 20px auto;
}

/* header style */
.header {
  background: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul {
  display: flex;
}
.navbar li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: #424242;
}

/* Banner styles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 50px auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  width: 100%;
}

/* main prat start */

main {
  max-width: 1440px;
  margin: 70px auto;
  padding: 30px;
}

/* teams styles */

.teams-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}


.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .text-feature {
  color: #ff900e;
  font-weight: 700;
}

/* feature section styles */

.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-content .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}

.feature-img img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
}

.feature-content,
.feature-img {
  flex: 1;
}

.feature-img{
  position: relative;
}

.ten-years-bedge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: -70px;
}
.ten-years-bedge h2 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-bedge p {
  font-size: 1.5rem;
}

/* facts section */

.facts {
  margin-top: 70px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-status {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsors section */

.sponsors {
  text-align: center;
  margin-top: 70px;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}
.sponsors-img-container img {
  width: 165px;
}

/* footer section */

footer {
  border-radius: 8px;
  background: #fff4e7;
  max-width: 1440px;
  padding: 30px 0;
  margin-top: 50px;
}
footer p {
  color: #424242;
  text-align: center;
  font-size: 20px;
}

/* Responsive media queries */
/* mobile devices */
@media screen and (max-width: 575px) {
  .header {
    padding: 20px;
  }
  .navbar,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .feature-img img {
    width: 100%;
    margin-left: 0;
  }
  .ten-years-bedge {
    left: 0;
    bottom: 20px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 991px) {
  header {
    padding: 50px;
  }
  .navbar,
  .sponsors-img-container,
  .features,
  .facts-card-container,
  .teams-container {
    flex-direction: column;
  }
  
  .ten-years-bedge {
    left: 0;
  }
  
}
